APP_ENV=development
PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=
DB_NAME=ecommerce
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
JWT_SECRET=
JWT_EXPIRE_HOURS=24
BITESHIP_API_KEY=
XENDIT_SECRET_KEY=
XENDIT_WEBHOOK_TOKEN=
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM=noreply@go-commerce.local
SMTP_USER=
SMTP_PASSWORD=
FRONTEND_URL=http://localhost:5173
ALLOWED_ORIGIN=http://localhost:5173
